* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container {
    margin: 100px auto;
    max-width: 320px;
    width: 100%;
    padding: 16px;
    border: 1px solid black;
}

.container h1 {
    text-align: center;
}

form {
    margin-top: 30px;
}

button, input {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
}

button {
    background-color: #0b245f;
    color: #fff;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;

}

button:hover {
    background-color: #2950c4;
}

.success-message {
    background-color: #1a924c;
    color: #fff;
    padding: 16px;
    display: none;
}

.error-message {
    background-color: rgb(142, 15, 15);
    color: #fff;
    padding: 16px;
    display: none;
}

.invalid {
    color: rgb(142, 15, 15);
    outline-color: rgb(142, 15, 15);
    border-color: rgb(142, 15, 15);
}

.valid {
    color: rgb(15, 142, 40);
    outline-color: rgb(15, 142, 40);
    border-color: rgb(15, 142, 40);
}

.invalid-message {
    background-color: rgb(142, 15, 15);
    display: none;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    margin-bottom: 8px;
}

.valid-message {
    background-color: rgb(15, 142, 40);
    display: none;
    color: #fff;
    font-size: 12px;
    padding: 8px;
    margin-bottom: 8px;
}
